@{
    var twoLetterIsoLanguageName = "en";
    if (Html.UsingLocalization())
    {
        var requestCulture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>();
        twoLetterIsoLanguageName = requestCulture.RequestCulture.UICulture.TwoLetterISOLanguageName.ToLower();
    }

    // var Localizer = new Dictionary<string, string>();
    // Localizer.Add("print", "Print");
    // Localizer.Add("actions", "Actions");
    // Localizer.Add("edit", "Edit");
    // Localizer.Add("delete", "Delete");
    // Localizer.Add("search", "Search");
    // Localizer.Add("last_update", "Las update");
    // Localizer.Add("last_update_null", "Never updated");

}

@using (Html.BeginStyles())
{
    <environment include="Development">
        <!-- DT -->
        <link href="~/lib/datatables.net-bs5/dataTables.bootstrap5.css" rel="stylesheet"/>
        <!-- BUTTONS -->
        <link href="~/lib/datatables.net-buttons-bs5/buttons.bootstrap5.css" rel="stylesheet"/>
        <!-- RESPONSIVE -->
        <link href="~/lib/datatables.net-responsive-bs5/responsive.bootstrap5.css" rel="stylesheet"/>
        <!-- SELECT -->
        <link href="~/lib/datatables.net-select-bs5/select.bootstrap5.css" rel="stylesheet"/>
    </environment>
    <environment exclude="Development">
        <!-- DT -->
        <link href="~/lib/datatables.net-bs5/dataTables.bootstrap5.min.css" rel="stylesheet"/>
        <!-- BUTTONS -->
        <link href="~/lib/datatables.net-buttons-bs5/buttons.bootstrap5.min.css" rel="stylesheet"/>
        <!-- RESPONSIVE -->
        <link href="~/lib/datatables.net-responsive-bs5/responsive.bootstrap5.min.css" rel="stylesheet"/>
        <!-- SELECT -->
        <link href="~/lib/datatables.net-select-bs5/select.bootstrap5.min.css" rel="stylesheet"/>
    </environment>

    <style>
    .dataTables_length{
        padding-right: 2rem;
    }
    </style>
}

@using (Html.BeginScripts())
{
    <environment include="Development">
        <script src="~/lib/jszip/jszip.js"></script>
        <script src="~/lib/pdfmake/vfs_fonts.js"></script>
        <script src="~/lib/pdfmake/pdfmake.js"></script>
        <!-- DT -->
        <script src="~/lib/datatables.net/jquery.dataTables.js"></script>
        <script src="~/lib/datatables.net-bs5/dataTables.bootstrap5.js"></script>
        <!-- BUTTONS -->
        <script src="~/lib/datatables.net-buttons/js/dataTables.buttons.js"></script>
        <script src="~/lib/datatables.net-buttons-bs5/buttons.bootstrap5.js"></script>
        <script src="~/lib/datatables.net-buttons/js/buttons.colVis.js"></script>
        <script src="~/lib/datatables.net-buttons/js/buttons.html5.js"></script>
        <script src="~/lib/datatables.net-buttons/js/buttons.print.js"></script>
        <!-- RESPONSIVE -->
        <script src="~/lib/datatables.net-responsive/dataTables.responsive.js"></script>
        <script src="~/lib/datatables.net-responsive-bs5/responsive.bootstrap5.js"></script>
        <!-- SELECT -->
        <script src="~/lib/datatables.net-select/dataTables.select.js"></script>
        <script src="~/lib/datatables.net-select-bs5/select.bootstrap5.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jszip/jszip.min.js"></script>
        <script src="~/lib/pdfmake/vfs_fonts.js"></script>
        <script src="~/lib/pdfmake/pdfmake.min.js"></script>
        <!-- DT -->
        <script src="~/lib/datatables.net/jquery.dataTables.min.js"></script>
        <script src="~/lib/datatables.net-bs5/dataTables.bootstrap5.min.js"></script>
        <!-- BUTTONS -->
        <script src="~/lib/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
        <script src="~/lib/datatables.net-buttons-bs5/buttons.bootstrap5.min.js"></script>
        <script src="~/lib/datatables.net-buttons/js/buttons.colVis.min.js"></script>
        <script src="~/lib/datatables.net-buttons/js/buttons.html5.min.js"></script>
        <script src="~/lib/datatables.net-buttons/js/buttons.print.min.js"></script>
        <!-- RESPONSIVE -->
        <script src="~/lib/datatables.net-responsive/dataTables.responsive.min.js"></script>
        <script src="~/lib/datatables.net-responsive-bs5/responsive.bootstrap5.min.js"></script>
        <!-- SELECT -->
        <script src="~/lib/datatables.net-select/dataTables.select.min.js"></script>
        <script src="~/lib/datatables.net-select-bs5/select.bootstrap5.min.js"></script>
    </environment>
    
    <script>
    let __datatable_options = {
            language: '@Url.Content($"~/js/datatables/i18n/{twoLetterIsoLanguageName}.json")',
            lengthMenu: [[10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "All"]],
            excelHtml5: {
                icon: "far fa-file-excel me-2",
                text: "Excel",
                className: "btn btn-success btn-labeled",
                progress: {
                    title: "Wait...",
                    text: "This process may take a few seconds depending on the number of records you want to export."
                }
            },
            print: {
                icon: "fas fa-print me-2",
                text: "Print",
                className: "btn btn-secondary btn-labeled",
                fontSize: "10pt"
            },
            search:{
                placeholder: "Search..."
            }
        };
    
    let __datatable_buttons  = [
        {
            extend: "excelHtml5",
            text: `<span class="btn-label"><i class="${__datatable_options.excelHtml5.icon}"></i></span>${__datatable_options.excelHtml5.text}`,
            exportOptions: { columns: ':visible:not([data-exportable="false"])' },
            className: __datatable_options.excelHtml5.className,
            action: function (e, dt, button, config) {
                Swal.fire({
                    title: __datatable_options.excelHtml5.progress.title,
                    text: __datatable_options.excelHtml5.progress.text,
                    showCancelButton: false,
                    showConfirmButton: false,
                    allowOutsideClick: false,
                    closeOnClickOutside: false,
                });
                let that = this;
                setTimeout(function () {
                    $.fn.dataTable.ext.buttons.excelHtml5.action.call(that, e, dt, button, config);
                    Swal.close();
                }, 1000);
            }
        },
        {
            extend: 'print',
            text: `<span class="btn-label"><i class="${__datatable_options.print.icon}"></i></span>${__datatable_options.print.text}`,
            className: __datatable_options.print.className,
            exportOptions: { columns: ':visible:not([data-printable="false"])' },
            customize: function (win) {
                $(win.document).css('background-image', 'none !important');
                $(win.document.body).css('font-size', __datatable_options.print.fontSize);
            }
        }
    ];
    
    function doSearchDelay(table){
        let tableId = table.nodes().to$().attr('id');
        let parent = $(`#${tableId}`).closest("#table_wrapper");
        let dataTables_filter = parent.find(".dataTables_filter input");
        dataTables_filter.unbind().bind('input', (delay(function (e) { table.search($(this).val()).draw();}, 400)));
        let table_length = parent.find("[name='table_length']");
        table_length.removeClass("form-control-sm").removeClass("custom-select-sm").css("min-width","6em");
    }
    
    function UIFix(table, target = "#actions"){
        let tableId = table.nodes().to$().attr('id');
        let parent = $(`#${tableId}`).closest("#table_wrapper");
        
        let table_length = parent.find("#table_length");
                
        let container = table_length.addClass("d-flex justify-content-between p-0");
        container.append('<div class="p-0" id="filter"/>');
        container.append('<div class="p-0" id="search"/>');
        container.append('<div class="p-0" id="actions"/>');
        
        let label = parent.find("#table_length label");
        label.appendTo($("#filter"));
        
        let table_length_2 = parent.find("[name='table_length'].form-select-sm");
        table_length_2.removeClass("form-select-sm");
        
        let table_filter = parent.find("#table_filter .form-control-sm");
        table_filter.removeClass("form-control-sm").attr("placeholder", __datatable_options.search.placeholder).appendTo($("#search"));
        
        let table_filter_2 = parent.find("#table_filter");
        table_filter_2.remove();
        
        let dt_buttons = parent.find(".dt-buttons");
        dt_buttons.appendTo($(target));
    }
    
    function responsiveRenderer(api, rowIdx, columns) {
        var data = $.map(columns, function (col, i) {
            return col.hidden ?
                `<li data-dt-row="${col.rowIndex}" data-dt-column="${col.columnIndex}">` +
                `<span style="width:20%;"><b>${col.title}:</b> </span> ` +
                `<span>${col.data}</span>` +
                `</li>` : '';
        }).join('');
    
        return data ?
            $('<ul class="m-2" style="width:95%" />').append(data) :
            false;
    }
    
    </script>
}

@if (Html.IsDebug())
{
    <!-- DEBUG -->
    <style>
        .dt-debug {
            display: inline-block;
            padding: 0.25rem;
            position: fixed;
            top: 60%;
            right: 0;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
            z-index: 10;
            /* image replacement properties */
            overflow: hidden;
            white-space: nowrap;
            visibility: hidden;
            opacity: 0;
            -webkit-transition: opacity .3s 0s, visibility 0s .3s;
            -moz-transition: opacity .3s 0s, visibility 0s .3s;
            transition: opacity .3s 0s, visibility 0s .3s;
            background-color: gray;
            color: white;
        }

            .dt-debug::content {
                margin-top: 0.15rem;
            }

            .dt-debug:hover {
                color: white;
            }

            .dt-debug.dt-is-visible {
                visibility: visible;
                opacity: 1;
            }
    </style>
    <script>
        function datatableDebug() {
            let n = document.createElement('script');
            n.setAttribute('language', 'JavaScript');
            n.setAttribute('src', 'https://debug.datatables.net/debug.js');
            document.body.appendChild(n);
        }
    </script>
    <a class="dt-debug dt-is-visible shadow" href="javascript:datatableDebug()">
        <i class="fas fa-2x fa-bug"></i>
    </a>
    <!-- DEBUG -->
}