// Variables
@import "variables";

@import "../lib/bootstrap/scss/functions";
@import "../lib/bootstrap/scss/variables";

.required:after {
  text-transform: uppercase;
  content: " *";
  font-size: $font-size-sm;
  color: $red;
}