// Required
@import "../lib/bootstrap/scss/functions";
@import "../lib/bootstrap/scss/variables";

// Variables
@import "variables";

.required:after {
  text-transform: uppercase;
  content: " *";
  font-size: $font-size-sm;
  color: $red;
}

.nav-item {
  .active {
    border-bottom: thin solid $white;
  }
}