// Required
@import "../lib/bootstrap/scss/functions";
@import "../lib/bootstrap/scss/variables";

// Variables
@import "variables";

html {
  font-weight: 200;
  height: 100vh;
  margin: 0;
  font-family: $font-family-sans-serif;
}

.swagger-ui .info {
  margin-bottom: 0 !important;
}

.scheme-container {
  background: none !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.swagger-title {
  margin: 0 !important;
  padding: 0 !important;
}

.swagger-ui .topbar a {
  max-width: 40px !important;
}