<!-- Modal -->
<div class="modal fade" id="modal-editor" tabindex="-1" aria-labelledby="modal-editor-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-editor-label">@ViewData["Title"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" data-field="id" id="id"/>
                <div class="mb-3">
                    <label for="userName" class="form-label requiered">Name</label>
                    <input id="userName" class="form-control" requiered
                           data-field="userName"
                           data-field-validate="true"
                           data-field-feedback="Please enter a valid user name">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input id="email" class="form-control" type="email"
                           data-field="email"
                           data-field-validate="true"
                           data-field-feedback="Please enter a valid email">
                </div>
                <div class="mb-3">
                    <label for="phoneNumber" class="form-label requiered">Phone</label>
                    <input id="phoneNumber" class="form-control" requiered
                           data-field="phoneNumber"
                           data-field-validate="true"
                           data-field-regex="^\([0-9]{3}\)[0-9]{3}-[0-9]{4}$"
                           data-field-mask="(000) 000-0000"
                           data-field-feedback="Please enter a valid phone">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button name="btn-save" type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>