@{
    Layout = "_Empty";
}

@section Header{
    @await RenderSectionAsync("Header", false)
}

@section Styles{
    @await RenderSectionAsync("Styles", false)
}

<partial name="_Header"/>

<main role="main" id="main-content" class="container p-0">
    @RenderBody()
</main>

<partial name="_Footer"/>

<partial name="Components/Validation"/>

@section Scripts{
    @await RenderSectionAsync("Scripts", false)
}