@{
	Layout = "_Empty";
}

@section Header{
	@await RenderSectionAsync("Header", false)
}

@section Styles{
	@await RenderSectionAsync("Styles", false)
}

@if (Html.UsingIdentity())
{
	@* ReSharper disable once Mvc.PartialViewNotResolved *@
	<partial name="_Header.Identity"/>
}
else
{
	<partial name="_Header"/>
}

<main role="main" id="main-content" class="container p-0 pt-4">
	@RenderBody()

</main>

<partial name="_Footer"/>
<partial name="Partials/_CookieConsentPartial" />
<partial name="Components/Validation"/>

@section Scripts{
	@await RenderSectionAsync("Scripts", false)
}