@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center"
     xmlns="http://www.w3.org/1999/html">
    <img class="img-fluid" src="favicon.svg" width="256" alt=""/>
    <h1 class="display-4">Welcome</h1>
    <p>
        Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.<br/>
        Build fast, responsive sites with <a href="https://getbootstrap.com/">Bootstrap</a>.<br/>
        With open source icon library <a href="https://icons.getbootstrap.com/">Bootstrap Icons</a>.
    </p>
    <alert title="Demo" content="Demostracion" color="info" dismissible="true" />
</div>